<div class="row">
  <div class="col-lg-2">
    <%= render :partial => 'layouts/left_menu' %>
  </div>
  <div class="col-lg-10">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-1">  
      </div>
      <div class="col-lg-10">
      <%= render :partial => 'layouts/case_facts' %>
        <br/><center><h2>PERSONAS INVOLUCRADAS <%= @case.code%></h2></center><br/><br/>
  <div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-9">
    <div class="list-group">
    <% @links.each do |link| %>
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title"><a href="<%=person_path(link.id)%>"><%= link.person.name %>&nbsp;<%= link.person.paternal_last_name %></a></div>
        </div>
        <div class="panel-body">
            <medium style="color: gray;"><span class="glyphicon glyphicon-gift" style="vertical-align:-1px;  margin-right:3px; "></span>&nbsp;<%= link.person.birthdate %>
            </medium><br/>
            <medium style="color: gray;"><span class="glyphicon glyphicon-phone" style="vertical-align:-1px;  margin-right:3px; "></span>&nbsp;<%= link.person.mobile %>
            </medium><br/>
            <medium style="color: gray;"><span class="glyphicon glyphicon-phone-alt" style="vertical-align:-1px;  margin-right:3px; "></span>&nbsp; <%= link.person.phone %>
            </medium><br/>
            <medium style="color: gray;"><span class="glyphicon glyphicon-user" style="vertical-align:-1px;  margin-right:3px; "></span>&nbsp;<%= link.role %>
            </medium>
        </div>
      </div>
      <div>
        &nbsp;
      </div>      
    <% end %>
    </div>
    
    </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>


<%= link_to 'New Person', new_person_path(@case.id) %>
