
<div class="row">
  <div class="col-lg-2">
    <%= render :partial => 'layouts/left_menu' %>
  </div>
  <div class="col-lg-10">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-1">  
      </div>
      <div class="col-lg-10">
       <%= render :partial => 'layouts/case_facts' %>
        <center><h2>INFORME POLICIAL</h2></center><br/><br/>
		<h5>
		  <strong>ANTECEDENTES:</strong><br/>
		  <%= @conclusion.antecedents %>
		</h5>
		<h5>
		  <strong>ACCION DIRECTA:</strong><br/>
		  <%= @conclusion.direct_action %>
		</h5>
		<h5>
		  <strong>ACTUACIONES POLICIALES</strong><br/>
		  <%= @conclusion.police_actions %>
		</h5>
		<h5>
		  <strong>PETITORIO:</strong><br/>
		  <%= @conclusion.request %>
		</h5><br/><br/>
		<%if @conclusion.sign == nil %>
		<form class="navbar-form navbar-left" method="get" action=<%= edit_conclusion_path(@conclusion)%> >
		                <button type="submit" class="btn btn-primary">
		                  <span class="glyphicon glyphicon-edit" style="vertical-align:-1px;  margin-right:7px; "></span> 
		                  Editar
		                </button>
		</form>
		<form class="navbar-form navbar-left" method="get" action=<%= private_key_conclusion_path(@conclusion.case_id)%> >
		    <button type="submit" class="btn btn-primary">
		    <span class="glyphicon glyphicon-barcode" style="vertical-align:-1px;  margin-right:7px; "></span> 
		    Firmar Digitalmente
		  </button>
		</form>
		<%else%>
		<h4><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;<a href="<%=@conclusion.conclusion_signed.url(download: true)%>">Descargar Conclusion Firmada</a></h4>
		<%end%>
	  </div>
	</div>
  </div>
  </div>
</div>

