<div class="row">
  <div class="col-lg-2">
    <%= render :partial => 'layouts/left_menu' %>
  </div>
  <div class="col-lg-10">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-1">  
      </div>
      <div class="col-lg-10">
      	<%=render :partial => 'layouts/case_facts'%>
		<center><h3>DENUNCIA</h3></center><br/>
		<h5>
		  <strong>Fecha:</strong>
		  <%= @complaint.fact_date %>
		</h5>
		<h5>
		  <strong>Hora:</strong>
		  <%= @complaint.fact_time %>
		</h5>
		<h5>
		  <strong>Lugar:</strong>
		  <%= @complaint.place %>
		</h5>
		<h5>
		  <strong>Relacion Victima/Agresor:</strong>
		  <%= @complaint.aggressor_relation %>
		</h5>
		<h5>
		  <strong>Naturaleza:</strong>
		  <%= @complaint.nature %>
		</h5>
		<h5>
		  <strong>Relacion Cincunstancial:</strong>
		  <%= @complaint.cincunstancial_relation %>
		</h5>
		<%= link_to 'Editar', edit_complaint_path(@complaint.id) %>
	  </div>
	</div>
   </div>
 </div>
</div>


