<div class="col-lg-1"></div>
<div class="col-lg-11">
<div class="jumbotron">
  <center><h2>CAMBIAR CONTRASE&Ntilde;A</h2></center><br/>
<%= form_for @user, :url => { :action => "update_password" , :controller=>"users"}, :method=>'post' do |f| %>
<% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "errorre") %> encontrados:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
    <div class="form-group">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
  <label>Contrase&ntilde;a Actual:</label>
  <%= password_field_tag :actual_password,params[:actual_password], :class=> "form-control" %>
  <label>Contrase&ntilde;a:</label>
  <%= f.password_field :password, :autocomplete => "off", :class=> "form-control" %>
  <label>Confirmacion contrase&ntilde;a:</label>
  <%= f.password_field :password_confirmation, :class=> "form-control" %><br/>
  <%= f.submit "Guardar", :class=>"btn btn-primary" %>
  </div>
  </div>
  </div>
<% end %>
</div>
</div>