
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-7">
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<h3>INICIAR SESION</h3>
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>
					  <label><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email</label><br/>
					  <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
					  <label><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Contrasenia</label><br/>
					    <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
					 <br/><div><%= f.submit "Iniciar Sesión", :class=>"btn btn-primary" %></div><br/>
					 <% end %>
					 <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
					  <!--<%= link_to "Olvido su contrasenia?", new_password_path(resource_name) %><br />-->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
