
Caso: <u><label><%= @case.code %></label></u><br/>
Fecha: <u><label><%= @case.init_date %></label></u><br/>
Investigador: <u><label><%= @case.user.grade%> &nbsp;<%= @case.user.name %>&nbsp;<%= @case.user.paternal_last_name %></label></u>
<!--<img src="/assets/police.png" width="50" height="60" />-->