<nav class="nav nav-pills nav-stacked">
<div class="navbar-inner">
<ul class="nav">
  <% if @case.complaint==nil && @case.direct_action==nil && @case.user_id==current_user.id%>
    <li><%= link_to "Nueva Denuncia", new_complaint_path(@case.id) %><i class="icon-home icon-large"></i></li>
  <% else %>
    <% if @case.direct_action==nil && @case.complaint!=nil %>
    <li><%= link_to "Denuncia", complaint_path(@case.complaint.id) %><i class="icon-home icon-large"></i></li>
    <% end %>
  <% end %>
  <% if @case.direct_action==nil && @case.complaint==nil && @case.user_id==current_user.id%>
    <li><%= link_to "Nueva Acción Directa", new_direct_action_path(@case.id) %><i class="icon-home icon-large"></i></li>
  <% else %>
    <% if @case.complaint==nil && @case.direct_action!=nil %>
    <li><%= link_to "Acción Directa", direct_action_path(@case.direct_action.id) %><i class="icon-home icon-large"></i></li>
    <% end %>
  <% end %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personas Involucradas<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Nueva Persona", new_person_path(@case.id) %></li>
      <li class="divider"></li>
      <li><%= link_to "Personas", people_path(@case.id) %></li>
    </ul>
  </li>
  <% if @case.interview==nil && @case.user_id==current_user.id%>
    <li><%= link_to "Nueva Entrevista", new_interview_path(@case.id) %></li>
  <% else %>
    <% if @case.interview!=nil%>
    <li><%= link_to "Entrevista", edit_interview_path(@case.interview.id) %></li>
    <%end%>
  <% end %>
  <% if @case.conclusion==nil && @case.user_id==current_user.id%>
    <li><%= link_to "Nuevo Informe Policial", new_conclusion_path(@case.id) %><i class="glaphicon-home"></i></li>
  <% else %>
    <% if @case.conclusion!=nil%>
    <li><%= link_to "Informe Policial", conclusion_path(@case.conclusion.id) %><i class="icon-home icon-large"></i></li>
    <%end%>
  <% end %>
</ul>
</div>
</nav>