<nav class="nav nav-pills nav-stacked">
<div class="navbar-inner">
<ul class="nav">
  <% if @case.complaint==nil && @case.direct_action==nil && @case.user_id==current_user.id%>
    <li>
      <%= link_to new_complaint_path(@case.id) do %>
        <span class="glyphicon glyphicon-plus"></span>Denuncia
      <% end %>
    </li>
  <% else %>
    <% if @case.direct_action==nil && @case.complaint!=nil %>
    <li>
    <%= link_to complaint_path(@case.complaint.id) do %>
        <span class="glyphicon glyphicon-file"></span>Denuncia
      <% end %>
    </li>
    <% end %>
  <% end %>
  <% if @case.direct_action==nil && @case.complaint==nil && @case.user_id==current_user.id%>
    <li>
    <%= link_to new_direct_action_path(@case.id) do %>
        <span class="glyphicon glyphicon-plus"></span>Accion Directa
      <% end %>
    </li>
  <% else %>
    <% if @case.complaint == nil && @case.direct_action!=nil %>
    <li>
    <%= link_to direct_action_path(@case.direct_action.id) do %>
        <span class="glyphicon glyphicon-file"></span> Accion Directa
      <% end %>
    </li>
    <% end %>
  <% end %>
  <% if @case.user_id == current_user.id && (@case.direct_action!=nil || @case.complaint!=nil) %>
    <li class="dropdown">
    <%= link_to :data => {:toggle=>"dropdown"}, :color=>"#666" do %>
        <span class="glyphicon glyphicon-user"></span> Personas
      <% end %>
    <ul class="dropdown-menu">
      <li>
        <%= link_to new_person_path(@case.id),'data-no-turbolink' => true do %>
        <span class="glyphicon glyphicon-plus-sign"></span> Persona Involucrada
        <% end %>
      </li>
      <li>
      <%= link_to people_path(@case.id) do %>
        <span class="glyphicon glyphicon-th"></span> Personas Involucradas
      <% end %>
      </li>
    </ul>
    </li>
  <% end %>
  <% if @case.interview==nil && @case.user_id==current_user.id && (@case.direct_action!=nil || @case.complaint!=nil) %>
    <li>
    <%= link_to new_interview_path(@case.id) do %>
        <span class="glyphicon glyphicon-plus"></span> Entrevista Informativa
      <% end %>
    </li>
  <% else %>
    <% if @case.interview!=nil%>
    <li>
    <%= link_to edit_interview_path(@case.interview.id) do %>
        <span class="glyphicon glyphicon-file"></span> Entrevista Informativa
      <% end %>
    </li>
    <%end%>
  <% end %>
  <% if @case.conclusion==nil && @case.user_id==current_user.id && (@case.direct_action!=nil || @case.complaint!=nil) %>
    <li>
    <%= link_to new_conclusion_path(@case.id) do %>
        <span class="glyphicon glyphicon-plus"></span> Informe Policial
      <% end %>
    </li>
  <% else %>
    <% if @case.conclusion!=nil%>
    <li>
    <%= link_to conclusion_path(@case.conclusion.id) do %>
        <span class="glyphicon glyphicon-file"></span> Informe Policial
      <% end %>
    </li>
    <%end%>
  <% end %>
</ul>
</div>
</nav>